.earn__header {
  position: absolute;
  width: 100%;
  height: 230px;
  left: 0px;
  top: 135px;
  background: #302c54;
  padding-left: 100px;
}

.farms__title {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: bold;
  font-size: 48px;
  line-height: 72px;
  width: 157px;
  height: 72px;
  left: 201px;
  top: 220px;
  color: #9a6aff;
}

.farms__sub{
    font-family: 'Poppins';
font-style: normal;
font-weight: bold;
font-size: 28px;
line-height: 42px;
width: 340px;
height: 42px;
left: 201px;
top: 312px;
color: #FFFFFF;
}

.farms__tagline{
    font-family: Poppins;
font-style: normal;
font-weight: 600;
font-size: 18px;
line-height: 27px;
color: #706D89;
width: 220px;
height: 27px;
left: 200px;
top: 364px;
}

.tagline__icon{
    margin-left: 5px;
    color: white;
}
